[meta]
# enviornment=prod for deployed instances
environment=dev

[dev]
# Change this to the actual location of your site
protocol=http
domain=localhost:5000
# Change this value to something random and secret
secret-key=hello world

# On the debug server, this lets you choose what to bind to
debug-host=0.0.0.0
debug-port=5000

# To send emails, fill out these details
smtp-host=
smtp-port=
smtp-user=
smtp-password=
smtp-from=noreply@pste.pw
# Exceptions are emailed here
error-to=
error-from=

# Where to store uploads (absolute path)
storage=/home/sircmpwn/sources/sr.ht/storage/

# Site ownership information for support and such
owner=Your name
owner_email=your@email.com

# SQL connection string
connection-string=postgresql://postgres@localhost/sr.ht

# Redis connection info
socket="/home/user/.tmp/redis.sock"
database=0

# This is NOT enforced - it's just for the UI
# You need to set client_max_body_size 50M; or similar in your nginx.conf
max-upload=50 MB

# Set to 'yes' to add a link to /donate on the home page (for members)
# You should probably add an override template for it
donation-page=no

# Set to 'yes' to add a link to /resources on the home page (for members)
# Usually only relevant for members of sr.ht upstream
resources-page=no

# These are strings that will be displayed in relevant locations throughout the UI
irc_server=irc.rizon.net
irc_channel=leliana
git_repo=https://github.com/TheReverend403/u.pste.pw
donate_link=
donate_button_image=
site_cost=$0/month
current_financial_status=$0
