# Change this to the actual location of your site
protocol=http
domain=localhost:5000
# Change this value to something random and secret
secret_key=wololol
support='wheretogetsupport'

#If the secure cookie flag should be set in the app
#set to True for https sites, otherwise set to False
securecookie=False

#Set to false to disable users registering their own accounts
#useful for private sites you don't want to give accounts out for
registration=False

# To send emails, fill out these details
smtphost=
smtpport=
smtpuser=
smtppassword=
smtpfrom=noreply@example.com

# Exceptions are emailed here
errorto=
errorfrom=

# Where to store uploads (absolute path)
storage=/storage/

# Site ownership information for support and such
owner=thatsyou
owner_email=admin@cool_address

# SQL connection string, do not use this one for production seriously
DATABASE_URL=postgresql://hello_flask:hello_flask@db:5432/hello_flask_dev

# How many records to show per page on admin and user uploads page
perpage=100

# Redis connection info
socket="/home/user/.tmp/redis.sock"
database=0

# This is NOT enforced - it's just for the UI
# You need to set client_max_body_size 50M; or similar in your nginx.conf
maxupload=50 MB
