[Unit]
Description=srht gunicorn service
Requires=srht.socket postgresql.service nginx.service
After=network.target postgresql.service

[Service]
PIDFile=/run/srht/pid
User=www-data
Group=www-data
WorkingDirectory=/var/www/srht/
ExecStart=/var/www/sr.ht/venv/bin/gunicorn --pid /run/srht/pid app:app -b 127.0.0.1:8000 --log-file /var/log/gunicorn/sr.ht --log-level warning
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target

