{% extends "layout.html" %}
{% block body %} 
<div class="text-center">
    <h1><a href="/">sr.ht</a></h1>
    <h4>Pending Accounts</h4>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Comments</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>{{ user.comments }}</td>
            <td><a href="#" class="btn btn-sm btn-primary approve" data-user="{{ user.id }}">Approve</a></td>
            <td><a href="#" class="btn btn-sm btn-danger reject" data-user="{{ user.id }}">Reject</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="/static/approve.js"></script>
{% endblock %}
