{% extends "layout.html" %}
{% block body %} 
<div class="text-center">
    <h1><a href="/">{{ domain }}</a></h1>
    <h4>Donations</h4>
</div>
<hr />
<div class="text-center">
<p>All members are expected to donate if they are able and there is a deficit. Not much
is needed but the success of the site depends on everyone. The server for {{ domain }} costs about {{ site_cost }}</p>
<h3>Current Status</h3>
<h2>{{ current_financial_status }}</h2>
<a href="{{ donate_link }}"><img src="{{ donate_button_image }}" alt="Donate" /></a>
</div>
{% endblock %}
