{% extends "layout.html" %}
{% block body %} 
<div class="text-center">
    <h1><a href="/">{{ domain }}</a></h1>
    <h4>Donations</h4>
</div>
<hr />
<p>All members are expected to donate if they are able and there is a deficit. Not much
is needed but the success of the site depends on everyone. The server for {{ domain }} costs about {{ site_cost }}</p>
<h3 class="text-center">Current Status</h3>
<h2 class="text-center">{{ current_financial_status }}</h2>
<p class="text-center"><small class="text-muted">This number updates on the 1st of each month</small></p>
<h3 class="text-center">Donate</h3>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="{{ paypal_button_id }}">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

{% endblock %}
