{#
    Shown on the home page for visitors who are not logged in
#}

<div class="text-center">
    <h1>sr.ht</h1>
    <p>
        {{ domain }} is a private file hosting website. It was built to replace the
        now defunct pomf.se and mediacru.sh, but made private to avoid the
        scenario where it gets too large for its own good. Accounts are given
        only by approval from {{ owner }}
        &lt;<a href="mailto:{{ owner_email }}">{{ owner_email }}</a>&gt;.
    </p>
    <a href="/login" class="btn btn-primary">Log In</a>
</div>
