<!doctype html>
<html>
    <head>
        {% block title %}
        <title>{{ domain }}</title>
        {% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/united/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <img class="moe" src="/static/{{ random.randint(2, 19) }}.png" />
        {% block modal %}{% endblock %}
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/static/qrcode.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
