{% extends "layout.html" %}
{% block title %}
<title>Manage Third Party Clients</title>
{% endblock %}
{% block body %} 
<div class="text-center">
    <h1>Third Party Clients</h1>
    <p>
    This is a list of third parties you have granted access to your account.
    </p>
</div>
<hr />
{% for token in user.tokens %}
<a href="/oauth/tokens/{{ token.token }}/revoke" class="btn btn-danger pull-right">
    Revoke access
</a>
<h3>{{ token.client.name }}</h3>
<p>By {{ token.client.user.username }}. Access granted on {{ token.created.strftime("%Y-%m-%d") }}.</p>
{% endfor %}
{% endblock %}
