{% extends "layout.html" %}
{% block title %}
<title>Authorize sr.ht account access</title>
{% endblock %}
{% block body %} 
<div class="text-center">
    <h1>Authorize Third-Party Client</h1>
    {% if errors %}
    <div class="alert alert-danger">
        {{ errors }}
    </div>
    {% endif %}
</div>
{% if client %}
<hr />
<p class="text-justify">
{{ client.name }} would like access to your sr.ht account. If given access,
{{ client.user.username }} will be able to see your username and email address,
but will not be able to upload on your behalf.
</p>
<form action="/oauth/authorize" method="POST" class="text-center">
    <input type="hidden" value="{{ client.client_id }}" name="client_id" />
    <input type="submit" value="Proceed" class="btn btn-success" />
    <a href="/" class="btn btn-default">Cancel</a>
</form>
{% endif %}
{% endblock %}
