<div class="pagination">
    {% if pagination.has_prev %}
        <span>
            <a class='page-number pagination-prev' href="{{ url_for(endpoint, page=pagination.prev_num) }}">
                {{ '<<<' }}
            </a>
        </span>
    {% endif %}
    {% for number in pagination.iter_pages() %}
        {% if number %} 
            {% if pagination.page != number %}
                <span>
                        <a class='page-number pagination-item'
                            href="{{ url_for(endpoint, page=number) }}">
                        {{ number }}
                        </a>
                </span>
            {% else %}
                <span>
                    <a class='page-number pagination-item pagination-active'
                        href="{{ url_for(endpoint, page=number) }}">
                    {{ number }}
                    </a>
                </span>
            {% endif %}
        {% else %}
                <span class="ellipsis">...</span>
        {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
        <span>
            <a class='page-number pagination-next'
                href="{{ url_for(endpoint, page=pagination.next_num) }}">
                {{ '>>>' }}
            </a>
        </span>
    {% endif %}
</div>