{% extends "layout.html" %}
{% block body %} 
<script>
window.api_key = "{{ user.apiKey }}";
window.root = "{{ root }}";
</script>
<div class="text-center">
    <h1>{{ domain }} services</h1>
    <h4 class="text-muted">Extra services and resources for you</h4>
</div>
<hr />
<div class="text-center">
    <h3>Bash script</h3>
    <p>You can upload to {{ domain }} with our <a href="/script">bash script</a>.</p>
    <h3>Android app</h3>
    <p>Ditto, we have an <a href="https://play.google.com/store/apps/details?id=io.github.wiiam.srhtandroid">Android app</a>.</p>
    <h3>Free git hosting</h3>
	<p>Visit <a href="https://gitlab.notoriousdev.com">gitlab.notoriousdev.com</a>.</p>
    <h3>More stuff?</h3>
    <p><a href="mailto:{{owner_email}}">Get in touch</a> if you have any more ideas worth hosting here.</p>
</div>
{% endblock %}
{% block scripts %}
<script>
(function() {
    var tox_id = document.getElementById("tox-id");
    tox_id.addEventListener("change", function() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/tox");
        var form = new FormData();
        form.append("key", window.api_key);
        form.append("id", tox_id.value);
        xhr.send(form);
    });
})();
</script>
{% endblock %}
