{% extends "layout.html" %}
{% block body %} 
<div class="text-center">
    <h1><a href="/">{{ domain }}</a></h1>
</div>
<hr />
<p>Write this into <code>~/.config/fsingulo</code>:</p>
<pre>
#!/bin/bash

# DO NOT SHARE YOUR KEY 
key={{ user.apiKey }}
# Log URLs
log=false
# Log file location (if relevant)
logfile="$HOME/.fsingulo"
# Copy links to clipboard after upload (requires xclip)
clipboard=true
# Send a notification when done
notify=true
# Open URL in browser
browser=true
</pre>
<p>Write this to <code>/usr/local/bin/fsingulo</code> (<a href="/script.plain">plaintext version</a>).
It depends on slop and maim.</p>
<pre>{% include "pstepw" %}</pre>
{% endblock %}
