{% extends "layout.html" %}
{% block body %} 
<div class="text-center">
    <h1><a href="/">{{ domain }}</a></h1>
</div>
<hr />
<p>Save this as sharex.sxcu and then import it into sharex</p>
<pre>
{

  "Name": "{{ domain }}",

  "DestinationType": "ImageUploader, TextUploader, FileUploader",

  "RequestType": "POST",

  "RequestURL": "{{ protocol }}://{{ domain }}/api/upload",

  "FileFormName": "file",

  "Arguments": {

    "key": "{{ user.apiKey }}"

  },

  "ResponseType": "Text",

  "URL": "$json:url$"

}
</pre>
{% endblock %}
