{% extends "layout.html" %}
{% block body %} 
<script>
window.api_key = "{{ user.apiKey }}";
</script>
<div class="text-center">
    <h1><a href="/">{{ domain }}</a></h1>
    <h4>My Uploads</h4>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>URL</th>
            <th>Name</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {% for upload in uploads %}
        <tr>
            <td><a href="{{ file_link(upload.path) }}">{{ upload.path }}</a></td>
            <td>{{ upload.original_name }}</td>
            <td>
                {% if upload.created %}
                {{ upload.created.strftime("%Y-%m-%d") }}
                {% endif %}
            </td>
            <td>
               <a href="#" class="btn btn-sm btn-info disown" data-filename="{{ upload.path }}">disown</a>
            </td>
            <td>
               <a href="#" class="btn btn-sm btn-danger delete" data-filename="{{ upload.path }}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="/static/delete.js"></script>
{% endblock %}
