{% extends "layout.html" %}
{% block containersize %}
large
{% endblock %}
{% block body %} 
<script>
window.api_key = "{{ user.apiKey }}";
</script>
<div class="text-center">
    <h1><a href="/">{{ domain }}</a></h1>
    <h4>My Uploads - {{ pagination.first }} - {{ pagination.last }} of {{ pagination.total }} </h4>
</div>
<hr />
{% include 'pagination.html' %}
<div class="gallery">
        {% for upload in pagination.items %}
        <div>
            <a href="{{ file_link(upload.path) }}"><img class="{{ thumbnail_class(upload.thumbnail) }}" src="{{ thumbnail_link(upload.thumbnail) }}"></a>
            <div class="imageattribute">
                {{ upload.original_name }}
            </div>
            {% if upload.created %}
                <div class="imageattribute">
                    Uploaded: {{ upload.created.strftime("%Y-%m-%d") }}
                </div>
            {% endif %}
            <div>
                <a href="#" class="btn btn-sm btn-info disown" data-filename="{{ upload.path }}">disown</a>
                <a href="#" class="btn btn-sm btn-danger delete" data-filename="{{ upload.path }}">delete</a>
            </div>
        </div>
        {% endfor %}
</div>
{% include 'pagination.html' %}
<script src="/static/delete.js"></script>
{% endblock %}
